body {
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: hsl(222, 26%, 31%);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "themes"
    "input"
    "main"
    "attribution";
}

.themes {
  grid-area: themes;
  margin-bottom: 1%;
  color: #EAE3DC;
  margin-top: 9%;
  height: 4rem;
  width: 19.3rem;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "icon theme";
}

.icon {
  grid-area: icon;
  text-align: left;
}

.theme {
  grid-area: theme;
  text-align: right;
  font-size: 0.625rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% auto;
  grid-template-areas:
    "numbers"
    "slidecontainer";
}

.numbers {
  grid-area: numbers;
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
}

.input {
  margin-bottom: 1rem;
  grid-area: input;
  background-color: hsl(224, 36%, 15%);
  height: 4rem;
  border: 0;
  width: 19.3rem;
  border-radius: 0.438rem;
  padding-right: 1.26rem;
  text-align: right;
  font-size: 3rem;
  color: #EAE3DC;
  font-family: 'Lato', sans-serif;
}
.value{
  margin: 0;
}

.attribution {
  grid-area: attribution;
  margin-top: 2rem;
}

.main {
  border-radius: 0.25rem;
  margin-bottom: 1%;
  background-color: hsl(223, 31%, 20%);
  text-align: center;
  grid-area: main;
  height: 17rem;
  width: 19rem;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "part1"
    "part2"
    "part3"
    "part4"
    "part5";
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.delete {
  grid-area: delete;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.plus {
  grid-area: plus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.minus {
  grid-area: minus;
}

.dot {
  grid-area: dot;
}

.zero {
  grid-area: zero;
}

.devide {
  grid-area: devide;
}

.multiply {
  grid-area: multiply;
}

.reset {
  grid-area: reset;
}

.equal {
  grid-area: equal;
}

.part1 {
  grid-area: part1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "seven eight nine delete";
}

.part2 {
  grid-area: part2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "four five six plus";
}

.part3 {
  grid-area: part3;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "one two three minus";
}

.part4 {
  grid-area: part4;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "dot zero devide multiply";
}

.part5 {
  grid-area: part5;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "reset reset equal equal";
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  color: hsl(221, 14%, 31%);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 64px;
  font-size: 20px;
  font-weight: 100;
  padding: 00px;
  background-color: #EAE3DC;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 0;

  -webkit-box-shadow: 0 2px 0 0 hsl(28, 16%, 65%);
  -moz-box-shadow: 0 2px 0 0 hsl(28, 16%, 65%);
  box-shadow: 0 2px 0 0 hsl(28, 16%, 65%);

}

.btn1 {
  -webkit-border-radius: 5px;
  font-weight: 700;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  color: hsl(221, 14%, 31%);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 135px;
  font-size: 20px;
  font-weight: 100;
  padding: 00px;
  background-color: #EAE3DC;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 0;

  -webkit-box-shadow: 0 2px 0 0 hsl(6, 70%, 34%);
  -moz-box-shadow: 0 2px 0 0 hsl(6, 70%, 34%);
  box-shadow: 0 2px 0 0 hsl(6, 70%, 34%);
}

.slidecontainer {
  grid-area: slidecontainer;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "text slid";
}

.btn2{
  -webkit-box-shadow: 0 2px 0 0 hsl(224, 28%, 35%);
  -moz-box-shadow: 0 2px 0 0 hsl(224, 28%, 35%);
  box-shadow: 0 2px 0 0 hsl(224, 28%, 35%);
}

.text {
  grid-area: text;
  text-align: right;
}

.text1 {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

h2 {
  margin-bottom: 0;
  margin-top: 2.1rem;
}

.slid {
  grid-area: slid;
}

.slider {
  -webkit-appearance: none;
  border-radius: 2rem;
  width: 100%;
  height: 15px;
  background: hsl(224, 36%, 15%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 1rem;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: red;
  cursor: pointer;
}

.o {
  padding: 0 0.2rem;
}

.t {
  padding: 0 0.2rem;
}

.th {
  padding: 0 0.2rem;
}

@media only screen and (max-width: 767px)  {
  .btn{
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .btn1{
    height: 40px;
    line-height: 40px;
    width: 115px;
  }
  .main {
    height: 18rem;
    width: 16rem;
  }
  .themes {
    height: 4rem;
    width: 16.5rem;
  }
  .input {
    height: 4rem;
    width: 16.5rem;
    margin-bottom: 1rem;
  }


}
